.text {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
}

.body {
  font-size: 16px;
  line-height: inherit;
  color: inherit;
}

.caption {
  font-size: 14px;
  line-height: inherit;
  color: inherit;
}

.small {
  font-size: 10px;
  line-height: inherit;
  color: inherit;
}
