/* @import 'reset-css/reset.css'; */

:root {

  --breakpoint-phone: 480px;
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1024px;
  --breakpoint-large: 1440px;

  /* Brand - Primary */
  --primary-50: #FFEAD8;
  --primary-100: #FFDFC3;
  --primary-150: #FFCA9C;
  --primary-300: #FFB16E;
  --primary-400: #FF9F4C;
  --primary-500: #FF8C2B;
  --primary-600: #FF6F00;
  --primary-700: #E07112;
  --primary-800: #89450C;
  --primary-900: #472305;

  /* Brand - Secondary */
  --secondary-50: #FFF9DA;
  --secondary-100: #FFF4B9;
  --secondary-200: #FFF1A3;
  --secondary-300: #FFE86B;
  --secondary-400: #FFE453;
  --secondary-500: #FFDF32;
  --secondary-600: #EFD22F;
  --secondary-700: #DDBE14;
  --secondary-900: #75650A;

  /* Neutral (Grey) */
  --grey-50: #FDFDFD;
  --grey-100: #F5F4F4;
  --grey-200: #EAE8E7;
  --grey-300: #D1D5DB;
  --grey-400: #C9C3BF;
  --grey-500: #9B918D;
  --grey-600: #6C6560;
  --grey-700: #514C48;
  --grey-800: #373431;
  --grey-900: #1B1918;

  /* Support - Status Colors */
  --negative-100: #FFE2E5;
  --negative-400: #FF616D;
  --negative-500: #ED3241;
  --negative-600: #FF0000;
  --positive-600: #008625;

  --white: #FFFFFF;
  --black: #000000;

  --gold-50: #FFF9E5;
  --gold-100: #FFF2C7;
  --gold-200: #FFE594;
  --gold-300: #FFD962;
  --gold-400: #FFCC31;
  --gold-500: #FFC200;

  --silver-50: #F5F5F5;
  --silver-100: #E5E5E5;
  --silver-200: #D4D4D4;
  --silver-300: #C4C4C4;
  --silver-400: #B3B3B3;
  --silver-500: #A2A2A2;

  --bronze-50: #FFF9E5;
  --bronze-100: #FFF2C7;
  --bronze-200: #FFE594;
  --bronze-300: #FFD962;
  --bronze-400: #FFCC31;
  --bronze-500: #FFC200;

  --footer-height: 70px;
  --navigation-height: 70px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--grey-100);
  box-sizing: border-box;
}

body {
  padding-top: 82px; /* 네비게이션 바 높이만큼 상단 패딩 추가 */
  padding-left: 16px;
  padding-right: 16px;
}

.container {
  min-height: calc(100vh - 82px);
  overflow-y: auto;
}